{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body>
    <div class="banner-1">
    <div class="login-container">
        <form method="POST" enctype="multipart/form-data" class="login-form">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="input-group">
                <input type="text" name="uname" id="uname" placeholder="Enter Username" required>
            </div>
            <div class="input-group">
                <input type="password" name="pwd" id="pwd" placeholder="Enter Password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
            <div>
            <span style="color:white;font-weight: bolder;">If new user!!! </span>
            <a href="{% url 'bookapp:register' %}" class="register-link">Register here</a>
            </div>
        </form> 
        <div style="text-align: center;font-weight: bold;color:aliceblue;">
            {% for msg in messages %}
            {{msg}}
            {% endfor %}
        </div>
         
    </div>       
</div>
{% endblock %}
</body>
</html>
